.main-header {
  width: 100%;
  max-height: 106rem;
}

.navbar {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icon-wrapper {
  width: 2.5rem;
  margin-right: 2rem;
}

.icon-wrapper img {
  width: 100%;
}

.contact-wrapper {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.phone-number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.navbar {
  width: 100%;
  /* height: 8vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -2rem; */
}

.logo-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.9rem;
}

.img-wrapper {
  width: 7rem;
  margin: 0 3rem;
}

.img-wrapper img {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
.nav-list {
  width: 57%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
}

.bottom-line-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-line {
  width: 79.3rem;
  height: 0.1rem;
  background-color: #525252;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

@media (max-width: 1024px) {
  .contact-wrapper {
    width: 25%;
  }
  .icon-wrapper {
    width: 1.5rem;
    margin-right: 1.2rem;
  }
  .phone-number {
    font-size: 1.5rem;
  }

  .nav-list {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .logo-text {
    font-size: 1.7rem;
  }
  .img-wrapper {
    width: 3rem;
    margin: 0 1.3rem;
  }

  .contact-wrapper {
    width: 27%;
  }
  .icon-wrapper {
    width: 1.5rem;
    margin-right: 1.2rem;
  }
  .phone-number {
    font-size: 1.4rem;
  }
}

@media (max-width: 375px) {
  .navbar {
    flex-wrap: wrap-reverse;
  }
  .navbar-center {
    width: 100%;
  }
  .contact-wrapper {
    width: 100%;
    height: 3rem;
    position: static;
    justify-content: center;
  }
  .logo-text {
    font-size: 1.5rem;
  }
  .img-wrapper {
    width: 3.4rem;
    margin: 0 1.2rem;
  }

  .icon-wrapper {
    width: 1.5rem;
    margin-right: 1.2rem;
  }
  .phone-number {
    font-size: 1rem;
  }

  .nav-list {
    width: 100%;
  }

  .nav-item a {
    font-size: 1.2rem;
    margin-right: 1.2rem;
  }
}
