.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20rem;
}

.title-1 {
  width: 34.4rem;
  line-height: 5.1rem;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.title-2 {
  /* width: 34.4rem; */
  line-height: 4.9rem;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #ff4d2c;
  text-transform: uppercase;
}
.title-3 {
  /* width: 34.4rem; */
  line-height: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.47rem;
  color: #ffffff;
  text-transform: uppercase;
}
