.footer {
  /* width: 100%; */
  width: 84vw;
  min-width: 136.6rem;
  height: 49.7rem;
  display: grid;
  /* grid-template-columns: 36rem 1fr 1fr; */
  grid-template-columns: 28vw 23vw 56rem;
  border-radius: 1.5rem;
  box-shadow: 0 1px 20px #9f9cb1dc;
  margin-bottom: 2rem;
  overflow: hidden;
}
.footer-left {
  margin: 4rem 0rem 0rem 4rem;
}

.footer-logo {
  /* width: 100%; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 4rem 35.2rem 5rem 4rem; */
  margin: 4rem 0;
  margin-left: -0.5rem;
}

.logo-img-wrapper {
  width: 7rem;
}
.logo-img-wrapper img {
  width: 100%;
}
.logo-text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.9rem;
  color: #fff;
  text-transform: uppercase;
}

.social-media {
  /* width: 100%; */
  width: 30%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-left: 4rem; */
  margin-top: 4rem;
}

.social-media-text {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.15rem;
  color: #fff;
}

.social-media-text span {
  color: #b40000;
  margin-left: 0.5rem;
}

.icons-wrapper {
  margin-top: 2rem;
  display: flex;
}

.program {
  list-style: none;
  margin-top: 11.8rem;
}

.program-item {
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.15rem;
  display: flex;
}
.program-item span {
  display: flex;
  justify-content: flex-end;
  color: #b40000;
  width: 8rem;
  text-align: right;
  padding-right: 2rem;
}

.footer-right {
  margin-right: 4rem;
}

.footer-icon {
  width: 1.375rem;
  height: 2rem;
}
.footer-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-address {
  /* width: 50rem; */
  width: 100%;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.footer-address-text-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-address-text,
.footer-address-text2 {
  /* width: 100%; */
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  line-height: 2.5rem;
  margin-left: 2rem;
}

.footer-address-text2 {
  margin-left: 5rem;
}

.footer-map {
  position: relative;
}

.footer-phone-wrapper {
  width: 50rem;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}
.footer-phone {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 1340px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 4rem 0;
  }
  .social-media {
    margin: 0;
    align-items: center;
  }

  .social-media-text {
    font-size: 1.7rem;
  }

  .program {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .footer-right {
    margin: 0;
  }
  .footer-phone-wrapper {
    margin-top: 2rem;
  }
}

@media (max-width: 375px) {
  .footer {
    width: 90vw;
  }
  .footer-address {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .footer-address-text-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-address-text {
    font-size: 1.4rem;
    margin: 0;
  }
  .footer-address-text2 {
    font-size: 1.4rem;
    margin: 0;
  }
  .footer-phone-wrapper {
    width: 100%;
    margin-top: 1rem;
  }
}
